


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(140, 214, 30);
    font-family: Arial, sans-serif;
}

.imagem {
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
    background-color: yellow;
}

.j {
    background-color: rgb(0, 26, 255);
    color: white;
    border-radius: 10px;
    margin: 20px 90px 20px 20px;
    padding: 10px;
    text-align: center;
}

.linha {
    background-color: yellow;
    padding: 20px 0;
}

.copa-container {
    display: flex;
    align-items: center; 
    gap: 40px;          
    max-width: 1200px;
    margin: 0 auto 50px auto;
    padding: 20px;
}


.copa-container.inv {
    flex-direction: row-reverse;
}

.copa-texto {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    font-size: 20px;
}


.linha1 { display: flex; justify-content: center; gap: 100px; }
.linha2 { display: flex; justify-content: center; gap: 50px; }
.jogador1, .jogador2, .jogador3, .jogador4, .jogador5 { text-align: center; }
nav a:hover { background-color: darkblue; }
a { color: white; text-decoration: none; }
.n { background-color: blue; }
li { margin-bottom: 60px; }
.titu { background-color: blue; }
.jg { text-align: center; padding: 0; }

.partida {
    background-color: blue;
    color: white;
    width: 700px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.form { background-color: yellow; text-align: center;
padding: 0;
}
.for { text-align: center; }

.container-direita {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px; 
}

footer {
    background-color: #002776;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

html, body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}   